@model Silk.Web.Core.Abstractions.IMenu

<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        @foreach (var subMenu in Model.MenuItems)
        {
            <sitemenu menu="@subMenu" />
        }
    </ul>
</div>